<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
          package="com.roundel.fizyka">

    <uses-permission-sdk-23 android:name="android.permission.INTERNET"/>
    <uses-permission-sdk-23 android:name="android.permission.READ_EXTERNAL_STORAGE"/>
    <uses-permission-sdk-23 android:name="android.permission.WRITE_EXTERNAL_STORAGE"/>
    <uses-permission-sdk-23 android:name="android.permission.ACCESS_NETWORK_STATE"/>
    <uses-permission-sdk-23 android:name="android.permission.WAKE_LOCK"/>
    <uses-permission android:name="android.permission.DOWNLOAD_WITHOUT_NOTIFICATION" />

    <application
        android:allowBackup="true"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:supportsRtl="true"
        android:theme="@style/AppTheme">

        <activity android:name=".activity.FileExplorerActivity"
                  android:label="@string/app_name"
                  android:screenOrientation="portrait">
                <intent-filter>
                    <action android:name="android.intent.action.MAIN"/>

                    <category android:name="android.intent.category.LAUNCHER"/>
                </intent-filter>
        </activity>
        <activity
            android:name=".activity.SettingsActivity"
            android:label="@string/activity_name_settings"
            android:screenOrientation="portrait"
            android:parentActivityName=".activity.FileExplorerActivity">
        </activity>

        <activity android:name=".activity.AboutActivity"
                  android:label="@string/about_activity_name"
                  android:screenOrientation="portrait"
                  android:parentActivityName=".activity.FileExplorerActivity">
        </activity>

        <service
            android:name=".dropbox.NotificationIntentService"
            android:enabled="true"
            android:exported="false"/>
        <receiver android:name=".dropbox.DropboxDownloadCompletedBroadcastReceiver">
            <intent-filter>
                <action android:name="android.intent.action.DOWNLOAD_COMPLETE"/>
            </intent-filter>
        </receiver>
        <receiver android:name=".update.UpdateDownloadCompletedBroadcastReceiver">
            <intent-filter>
                <action android:name="android.intent.action.DOWNLOAD_COMPLETE"/>
            </intent-filter>
        </receiver>
        <receiver android:name=".dropbox.NotificationEventReceiver"/>
        <receiver android:name=".dropbox.DownloadButtonPressedBroadcastReceiver">
            <intent-filter>
                <action android:name="com.roundel.fizyka.ACTION_DOWNLOAD"/>
            </intent-filter>
        </receiver>
        <receiver android:name=".dropbox.NotificationServiceStarterReceiver">
            <intent-filter>
                <action android:name="android.intent.action.BOOT_COMPLETED"/>
                <action android:name="android.intent.action.TIMEZONE_CHANGED"/>
                <action android:name="android.intent.action.TIME_SET"/>
            </intent-filter>
        </receiver>
        <receiver android:name=".dropbox.ConnectionStateChangedReceiver">
            <intent-filter>
                <action android:name="android.net.conn.CONNECTIVITY_CHANGE"/>
            </intent-filter>
        </receiver>


    </application>

</manifest>